@page "/"
@implements IDisposable
@inject IJSRuntime JSRuntime
<MudPaper Class="py-4 px-4 d-flex flex-row" Elevation="4">
    @if (ProjectValue.Name != string.Empty)
    {
        <div class="d-flex flex-column px-1 py-1" style="width:50%;">
            <MudPaper Class="px-1 py-1" Elevation="3">
                <MudText Typo="Typo.h3"><MudText Color="Color.Primary" Typo="Typo.h2" Inline>Project: </MudText>@ProjectValue.Name</MudText>
            </MudPaper>
            <MudPaper Class="px-1 py-1 d-flex flex-column my-1 justify-content-between h-100" Elevation="3">
                <div class="px-1 py-1 h-100">
                    @if (_selectedQuestion != null)
                    {
                        <MudText Typo="Typo.h5" Color="Color.Secondary">Question: </MudText>
                        @if (_editing)
                        {
                            <MudTextField @bind-Value="_selectedQuestion.QuestionText"></MudTextField>
                        }
                        else
                        {
                            <MudText Typo="Typo.h5">@_selectedQuestion.QuestionText</MudText>
                        }
                        @switch (_selectedQuestion)
                        {
                            case TestOneQuestion t1Question:
                                <MudText Typo="Typo.h6" Color="Color.Tertiary">Answers:</MudText>
                                <MudRadioGroup @bind-Value="t1Question.CorrectAnswer" T="CorrectAnswer">
                                    @foreach (var answer in t1Question.Answers)
                                    {
                                        <div class="d-flex my-2">
                                            <div>
                                                <MudRadio Value="@(answer.AnswerValue)">
                                                    @if (!_editing)
                                                    {
                                                        @answer.Answer
                                                    }
                                                </MudRadio>
                                            </div>
                                            @if (_editing)
                                            {
                                                <MudTextField @bind-Value="answer.Answer" Label="Provide answer" Clearable FullWidth/>
                                            }
                                        </div>
                                    }
                                </MudRadioGroup>
                                break;
                            case TestMultiQuestion tmquestion:
                                <MudText Typo="Typo.h6" Color="Color.Tertiary">Answers:</MudText>
                                @foreach (var answer in tmquestion.Answers)
                                {
                                    <div class="d-flex my-2">
                                        <div>
                                            <MudCheckBox T="bool" Label="@(!_editing ? answer.Answer : "")" Value="@(tmquestion.CorrectAnswers.Contains(answer.AnswerValue))" ValueChanged="(() => CheckBoxChanged(answer.AnswerValue))"></MudCheckBox>
                                        </div>
                                        @if (_editing)
                                        {
                                            <MudTextField @bind-Value="answer.Answer" Label="Provide answer" Clearable FullWidth/>
                                        }
                                    </div>

                                }

                                break;
                            case OpenQuestion openQuestion:
                                <MudText Typo="Typo.h6" Color="Color.Tertiary">Answer:</MudText>
                                @if (!_editing)
                                {
                                    <MudText>@openQuestion.Answer</MudText>
                                }
                                else
                                {
                                    <MudTextField Text="@openQuestion.Answer" T="string" AutoGrow MaxLines="35"/>
                                }

                                break;
                            default:
                                <MudText>Unknown</MudText>
                                break;
                        }
                    }
                    else
                    {
                        <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                            <div>
                                <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Tertiary">Add new or do something with question</MudText>
                            </div>
                            <div class="py-2">
                                <MudButton Color="Color.Success" EndIcon="@Icons.Material.Filled.Add" OnClick="ShowNewQuestionModal">Add new</MudButton>
                            </div>
                        </div>
                    }
                </div>
                @if (_selectedQuestion != null)
                {
                    <div class="d-flex justify-content-end">
                        <MudButton Color="Color.Success" Disabled="@(!_editing)" OnClick="SaveQuestion">Save</MudButton>
                        <MudButton Color="Color.Error" OnClick="CancelQuestion">Cancel</MudButton>
                    </div>
                }
            </MudPaper>
        </div>
        <div class="px-1 py-1 w-50">
            <MudPaper Class="px-1 py-1 my-1 overflow-scroll" Elevation="3" Style="height:94vh;">
                @foreach (var question in ProjectService.GetQuestions(ProjectValue))
                {
                    <div class="d-flex flex-row justify-content-between">
                        <div class="px-1 py-1">
                            <MudText>@question.QuestionText</MudText>
                        </div>
                        <div class="px-1 py-1 d-flex">
                            <div>
                                <MudButton Color="Color.Primary" OnClick="(() => ViewQuestion(question.ID))">View</MudButton>
                            </div>
                            <div>
                                <MudButton Color="Color.Warning" OnClick="(() => EditQuestion(question.ID))">Edit</MudButton>
                            </div>
                            <div>
                                <MudButton Color="Color.Error" OnClick="(() => DeleteQuestion(question.ID))">Delete</MudButton>
                            </div>
                        </div>
                    </div>
                }
            </MudPaper>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center w-100">
            <div class="d-flex justify-content-center flex-column">
                <div>
                    <MudPaper Elevation="3" Class="p-3 mb-3">
                        <div>
                            <MudText Typo="Typo.h4">Create new project with:</MudText>
                        </div>
                        <div>
                            <MudTreeView T="string" ReadOnly>
                                <MudTreeViewItem Text="File" Expanded="true">
                                    <MudTreeViewItem Text="New"/>
                                </MudTreeViewItem>
                            </MudTreeView>
                        </div>
                    </MudPaper>
                </div>
                <div>
                    <MudPaper Elevation="3" Class="p-3">
                        <div>
                            <MudText Typo="Typo.h4">or open existing project with:</MudText>
                        </div>
                        <div>
                            <MudTreeView T="string" ReadOnly>
                                <MudTreeViewItem Text="File" Expanded="true">
                                    <MudTreeViewItem Text="Open"/>
                                </MudTreeViewItem>
                            </MudTreeView>
                        </div>
                    </MudPaper>
                </div>
                
            </div>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(_menuOption))
    {
        <div>Clicked option in menu: @_menuOption</div>
    }
</MudPaper>

<MudDialog @bind-Visible="_newProjectVisible">
    <TitleContent>
        Add new project
    </TitleContent>
    <DialogContent>
        <MudTextField @bind-Value="ProjectName" T="string" Label="Project name"/>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="(() => SubmitNewProjectModal(NewProjectEnum.Closed))">New</MudButton>
        <MudButton Color="Color.Secondary" OnClick="(() => SubmitNewProjectModal(NewProjectEnum.ClosedAndSave))">New and Save</MudButton>
        <MudButton Color="Color.Error" OnClick="CancelNewProjectModal">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="_saveProjectVisible">
    <TitleContent>
        Save project
    </TitleContent>
    <DialogContent>
        <MudText>Do you want to save the project?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Success" OnClick="(() => SaveProject(true))">Yes</MudButton>
        <MudButton Color="Color.Error" OnClick="(() => SaveProject(false))">No</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="_newQuestionVisible">
    <TitleContent>
        Type of question
    </TitleContent>
    <DialogContent>
        <MudSelect T="int" Label="Type of question" @bind-Value="NewQuestionType">
            <MudSelectItem Value="@(0)">Test question with 1 answer</MudSelectItem>
            <MudSelectItem Value="@(1)">Test question with multiple answers</MudSelectItem>
            <MudSelectItem Value="@(2)">Open question</MudSelectItem>
        </MudSelect>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Success" OnClick="AddNewQuestion">Add</MudButton>
        <MudButton Color="Color.Error" OnClick="CloseNewQuestionModal">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Inject] IProjectService ProjectService { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }
    // [Inject] IDialogService DialogService { get; set; }

    private Project ProjectValue { get; set; } = new();
    private Question? _selectedQuestion;
    private bool _editing;

    private bool _newProjectVisible;
    private string ProjectName { get; set; } = string.Empty;

    private bool _saveProjectVisible;
    
    private int NewQuestionType { get; set; }

    private bool _newQuestionVisible;
    
    private string? _menuOption;
    
    protected override void OnInitialized()
    {
        WeakReferenceMessenger.Default.Register<MenuItemClickedMessage>(this, (_, message) =>
        {
            _menuOption = message.SelectedOption;
            InvokeAsync(StateHasChanged);
        });

        WeakReferenceMessenger.Default.Register<SaveFileClickedMessage>(this, (_, _) =>
        {
            WeakReferenceMessenger.Default.Send(new SaveFileClickedMessageResponse()
            {
                Project = ProjectValue
            });
        });

        WeakReferenceMessenger.Default.Register<LoadProjectFromFileMessage>(this, (_, message) =>
        {
            ProjectValue = message.Project;
            InvokeAsync(StateHasChanged);
        });

        WeakReferenceMessenger.Default.Register<NewProjectClickedMessage>(this, (_, _) =>
        {
            ShowNewProjectModal();
            InvokeAsync(StateHasChanged);
        });

        ProjectService.MockData(ProjectValue);

        // SelectedQuestion = ProjectService.GetRandomQuestion(Project, QuestionType.Open);
        // Editing = true;
    }
    
    private void SubmitNewProjectModal(NewProjectEnum newProjectEnum)
    {
        if (ProjectName == string.Empty)
        {
            Snackbar.Add("Project name cannot be empty!", Severity.Error);
            return;
        }

        ProjectValue.Name = ProjectName;

        if (newProjectEnum == NewProjectEnum.ClosedAndSave)
        {
            WeakReferenceMessenger.Default.Send(new SaveFileClickedMessageResponse()
            {
                Project = ProjectValue
            });
        }

        _newProjectVisible = false;
    }

    private void CancelNewProjectModal()
    {
        _newProjectVisible = false;
    } 

    private void ShowNewProjectModal()
    {
        if (ProjectValue.Name != string.Empty || ProjectValue.Questions.Count > 0)
        {
            _saveProjectVisible = true;
        }
        _newProjectVisible = true;
    }

    private void SaveProject(bool save)
    {
        // TODO: move to service
        if (save)
        {
            WeakReferenceMessenger.Default.Send(new SaveFileClickedMessageResponse()
            {
                Project = ProjectValue
            });
        }
        _saveProjectVisible = false;
    }

    private void ShowNewQuestionModal()
    {
        NewQuestionType = 0;
        _newQuestionVisible = true;
    }

    private void AddNewQuestion()
    {
        _newQuestionVisible = false;
        if (NewQuestionType is < 0 or > 2)
        {
            Snackbar.Add("Unknown question type.", Severity.Error);
            return;
        }

        _selectedQuestion = NewQuestionType switch
        {
            0 => new TestOneQuestion(),
            1 => new TestMultiQuestion(),
            2 => new OpenQuestion(),
            _ => throw new ArgumentOutOfRangeException()
        };

        _editing = true;
    }
    
    private void CloseNewQuestionModal()
    {
        _newQuestionVisible = false;
    }

    private void SaveQuestion()
    {
        // TODO: think about editing and adding new via service
        if (_selectedQuestion != null)
        {
            var response = ProjectService.EditQuestion(ProjectValue, _selectedQuestion.ID, _selectedQuestion);
            Snackbar.Add(response.Message, response.IsSuccess? Severity.Success : Severity.Error);
        }
        _selectedQuestion = null;
        // StateHasChanged();
    }

    private void CancelQuestion()
    {
        _selectedQuestion = null;
    }
    
    private void EditQuestion(Guid id)
    {
        _editing = true;
        var q = ProjectService.GetQuestionByID(ProjectValue, id);
        _selectedQuestion = (Question)q?.Clone()!;
    }

    private void ViewQuestion(Guid id)
    {
        _editing = false;
        _selectedQuestion = ProjectService.GetQuestionByID(ProjectValue, id);
        // _ = JSRuntime.InvokeVoidAsync("console.log", $"ViewQuestion(Guid ID = {ID})");
        // StateHasChanged();
    }

    private void DeleteQuestion(Guid id)
    {
        var response = ProjectService.DeleteQuestion(ProjectValue, id);
        if (!response.IsSuccess)
        {
            Snackbar.Add(response.Message, Severity.Error);
        }

        if (_selectedQuestion != null && _selectedQuestion.ID == id)
        {
            _selectedQuestion = null;
        }
    }

    private void CheckBoxChanged(CorrectAnswer value)
    {
        if (_selectedQuestion is not TestMultiQuestion question) return;
        if (question.CorrectAnswers.Contains(value))
        {
            question.CorrectAnswers.Remove(value);
        }
        else
        {
            question.CorrectAnswers.Add(value);
        }
    }
    
    public void Dispose()
    {
        WeakReferenceMessenger.Default.UnregisterAll(this);
    }

}
