@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode"/>
<MudPopoverProvider @rendermode="InteractiveAuto"/>

<MudDialogProvider CloseButton="true" Position="DialogPosition.Center" BackdropClick = "false" FullWidth="true" @rendermode="InteractiveAuto"/>

<MudSnackbarProvider @rendermode="InteractiveAuto"/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3 m-5">Test Maker</MudText>
        <NavMenu/>
        <MudSpacer/>
        <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                             Icon="@Icons.Material.Filled.DarkMode" Color="@Color.Info" title=@(_isDarkMode ? "Light" : "Dark")
                             ToggledIcon="@Icons.Material.Filled.LightMode" ToggledColor="@Color.Primary" @rendermode="InteractiveAuto"/>
    </MudAppBar>
    <MudMainContent Class="py-1 px-1" Style="margin-top: 70px;">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code 
{
    private bool _isDarkMode;
    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }
    
}